@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css";
@media screen and (min-width: 1024px) {
    .container {
        max-width: 860px;
    }
}

.authors>span {
    padding: 0 0.75rem;
}

@media only screen and (max-width: 480px) {
    a.button.is-rounded.is-link.is-light:not(:last-child) {
        margin-bottom: 0.75em;
    }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-link {
  color:#5e9096;
  font-weight: bold;
  text-decoration: underline;
}

.text-link:hover {color:#85abaf}

.scaled_center_img {
  width: auto !important; /*Keep the aspect ratio of the image*/
  /*height: 200px !important;*/
  margin: 0 auto 1em auto; /*Center the image*/
}

.myvideo{
    width: 200px;
    height: 200px;
}

.video_button {
  transition-duration: 0.2s;
}

.video_button:hover {
  background-color: darkgrey; /* Green */
  color: white;
}

.video_button_clicked{
    background-color: slategrey;
    color: white;
    font-weight: bold;
}

/* h1 style to match 'title is-4' */
h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}