@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css";
@media screen and (min-width: 1024px) {
    .container {
        max-width: 860px;
    }
}

.authors>span {
    padding: 0 0.75rem;
}

@media only screen and (max-width: 480px) {
    a.button.is-rounded.is-link.is-light:not(:last-child) {
        margin-bottom: 0.75em;
    }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-link {
  color:#5e9096;
  font-weight: bold;
  text-decoration: underline;
}

.text-link:hover {color:#85abaf}

.scaled_center_img {
  width: auto !important; /*Keep the aspect ratio of the image*/
  /*height: 200px !important;*/
  margin: 0 auto 1em auto; /*Center the image*/
}

.myvideo{
    width: 200px;
    height: 200px;
}

.video_button {
  transition-duration: 0.2s;
}

.video_button:hover {
  background-color: darkgrey; /* Green */
  color: white;
}

.video_button_clicked{
    background-color: slategrey;
    color: white;
    font-weight: bold;
}

/* h1 style to match 'title is-4' */
h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.overlay-manager {
  text-align: center;
  margin-bottom: 20px;
    display: flex;
  align-items: center;
    justify-content: center;

}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
}

.base, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  clip-path: inset(0 100% 0 0);
}

#toggleButton, .slider, .sliderLabel {
  margin: 10px;
  font-size: 16px;
}

#toggleButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggleButton:hover {
  background-color: #0056b3;
}

.slider-container {
  display: flex;
  align-items: center;
}


/* Radio buttons layout */
.radio-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Optional, adds some spacing between radio buttons and slider */
}

/* Custom radio buttons */
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding-left: 30px; /* Space for fake checkbox */
  margin: 0 10px; /* Spacing between labels */
  cursor: pointer;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 0; /* Make it square */
}

input[type="radio"]:checked + label:before {
  background-color: #007bff;
}

.transition-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;  /* You can adjust the width */
  background-color: black;
  pointer-events: none; /* Makes it unclickable and allows events to pass through */
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .radio-buttons {
    flex-direction: column;
  }
}

/* Make link row into multiple rows*/
@media (max-width: 767px) {
  .center td {
    display: block;
  }
  .center tr {
    display: block;
  }
  .center td:not(:last-child) {
    margin-bottom: .75rem;
  }
}